* {
    font-family: Inter !important;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

td {
    border: 0 !important;
}

input:focus {
    outline: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
}

.modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 500px;
    padding: 2rem;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}

.recharts-responsive-container {
    background-color: #F5F5F5
}

/* Recharts doesn't resize properly without this.
   Don't know and don't wanna know.*/
.recharts-wrapper {
    position: absolute !important;
}

@media only screen and (max-width: 1150px) {
    .bodyContainer {
        flex-direction: column;
        min-height: 1000px;
    }

    .height {
        height: 100% !important;
    }

    .h-40 {
        height: 40% !important;
    }

    .ml {
        margin-left: 16px;
    }

    .mt {
        margin-top: 0 !important;
    }

    .mt-3 {
        margin-top: 16px !important;
    }

    .headerMargin {
        margin-left: 8px !important;
    }

    .headerPadding {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    .col {
        flex-direction: column !important;
    }

    .fb-50 {
        flex-basis: 50% !important;
    }
}


@media only screen and (max-width: 550px) {
    .hide {
        display: none;
    }
}
